*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrappingPatient{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.leftSideImage{
    /* width: 35%;
    height: 100vh; */
    background-color: black;
}